body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  padding-top: 3vh;
  font-family: 'Amatic SC', cursive;
  background-color: mintcream !important;
}

/*---header area styling---*/
.header {
  font-family: 'Amatic SC', cursive;
  text-align: center;
}

#subheader {
  height: 37px;
  font-size: 1.5rem;
  margin-bottom: 4px;
}

#title {
  font-size: 3.0rem;
  margin-bottom: -6px;
}
/*---header area styling---*/

/*---grid area styling---*/
.row > button {
  width: 100px;
  height: 100px;
  border-color: black;
  margin: 5px !important;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.grid {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blue {
  background-color: #C2E1FC;
  border-radius: 94% 12% 94% 6%/8% 89% 7% 97% !important;
  border-width: 2px 3px 2px 3px !important;
  transform: rotate(4deg);
}

.litblue {
  background-color: #2979FF;
}

.red {
  background-color: #F3B6BB;
  border-radius: 94% 11% 102% 14%/9% 89% 7% 97% !important;
  border-width: 2px 3px 1px 2px !important;
}

.litred {
  background-color: #FF1744;
}

.green {
  background-color: #CAFCCE;
  border-radius: 94% 17% 87% 23%/9% 89% 7% 97% !important;
  border-width: 1px 3px 3px 3px !important;
  transform: rotate(4deg);
}

.litgreen {
  background-color: #76FF03;

}

.yellow {
  background-color: #FFFEC2;
  border-radius: 94% 17% 87% 23%/9% 94% 22% 89% !important;
  border-width: 3px 3px 1px 2px !important;
  transform: rotate(3deg);
}

.lityellow {
  background-color: #F2FF00;
}

.orange {
  background-color: #FADFBF;
  border-radius: 100% 18% 76% 6%/13% 94% 12% 94% !important;
  border-width: 2px 3px 0.5px 2px !important;
  transform: rotate(3deg);
}

.litorange {
  background-color: #FFC400;
}
/*---grid area styling---*/

/*---modal area styling---*/
.modal-button {
  display: flex;
  justify-content: center;
}

.close {
  font-size: 4.5rem !important;
  color: #FF1744 !important;
}

.modal {
  font-family: 'Amatic SC',
  cursive;
}

#instruct-title, #endgame-title{
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: -4px;
}

#endgame-subtitle {
  font-size: 1.7rem;
  text-align: center;
}

#instruct-body, #endgame-body {
  font-size: 1.5rem;
  text-align: center;
}

#shareBtn {
  text-align: center;
  font-size: 3rem;
  color: #2F4482;
}

.modal-content {
  border-radius: 100% 3% 73% 5%/3% 98% 6% 99% !important;
  border-width: 3px 1px 3px 0.5px !important;
  border-color: black;
  transform: rotate(1deg);
}
/*---modal area styling---*/

/*---control area styling---*/
.control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.control > button {
  margin: 8px 0;
  /* border: 0; */
  border-color: #000000;
  color: #000000;
  font-family: 'Amatic SC',
  cursive;
  /* border: 1px solid #757575; */
  /* box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.4); */
}

#reset {
  display: none;
  background-color: #FF1744;
  font-size: 40px;
  border-width: 2px 5px 3px 5px;
  border-radius: 88% 15% 94% 5%/13% 89% 13% 97%;
  transform: rotate(3deg);
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

#reset:disabled {
  color: #ffffff;
  opacity: 0.2;
}

#start {
  font-size: 40px;
  background-color: #B2FF59;
  border-width: 2px 4px 4px 2px;
  border-radius: 95% 4% 92% 8%/4% 95% 6% 95%;
  /* transform: rotate(3deg); */
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

#instruct {
  font-size: 24px;
  background-color: #FFD740;
  border-width: 3px 5px 2px 4px;
  border-radius: 92% 5% 95% 7%/2% 98% 7% 96%;
  transform: rotate(-1deg);
}
/*---control area styling---*/

footer {
  font-size: 1.5em;
  margin-top: 2vh;
  text-align: center;
}

a {
  color: #757575 !important;
}