body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  padding-top: 3vh;
  font-family: 'Amatic SC', cursive;
  background-color: mintcream !important;
}

/*---header area styling---*/
.header {
  font-family: 'Amatic SC', cursive;
  text-align: center;
}

#subheader {
  height: 37px;
  font-size: 1.5rem;
  margin-bottom: 4px;
}

#title {
  font-size: 3.0rem;
  margin-bottom: -6px;
}
/*---header area styling---*/

/*---grid area styling---*/
.row > button {
  width: 100px;
  height: 100px;
  border: 1px solid #757575;
  border-radius: 8px;
  margin: 5px !important;
}

.grid {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blue {
  background-color: #C2E1FC;
}

.litblue {
  background-color: #2979FF;
}

.red {
  background-color: #F3B6BB;
}

.litred {
  background-color: #FF1744;
}

.green {
  background-color: #CAFCCE;
}

.litgreen {
  background-color: #76FF03;
}

.yellow {
  background-color: #FFFEC2;
}

.lityellow {
  background-color: #F2FF00;
}

.orange {
  background-color: #FADFBF;
}

.litorange {
  background-color: #FFC400;
}
/*---grid area styling---*/

/*---modal area styling---*/
.modal-button {
  display: flex;
  justify-content: center;
}

.close {
  font-size: 4.5rem !important;
  color: #FF1744 !important;
}

.modal {
  font-family: 'Amatic SC',
  cursive;
}

#instruct-title, #endgame-title{
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: -4px;
}

#endgame-subtitle {
  font-size: 1.7rem;
  text-align: center;
}

#instruct-body, #endgame-body {
  font-size: 1.5rem;
  text-align: center;
}

#shareBtn {
  text-align: center;
  font-size: 3rem;
  color: #2F4482;
}
/*---modal area styling---*/

/*---control area styling---*/
.control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.control > button {
  margin: 8px 0;
  border: 0;
  color: #ffffff;
  font-family: 'Amatic SC',
  cursive;
  border: 1px solid #757575;
}

#reset {
  display: none;
  background-color: #FF1744;
  font-size: 40px;
  border-radius: 25px;
}

#reset:disabled {
  color: #ffffff;
  opacity: 0.2;
}

#start {
  border-radius: 25px;
  font-size: 40px;
  background-color: #B2FF59;
}

#instruct {
  border-radius: 30px;
  font-size: 24px;
  background-color: #FFD740;
}
/*---control area styling---*/

footer {
  font-size: 1.5em;
  margin-top: 2vh;
  text-align: center;
}

a {
  color: #757575 !important;
}